{
  "originWeb3Provider": "http://localhost:8545",
  "auxiliaryWeb3Provider": "http://localhost:8546",
  "originChainId": 3,
  "auxiliaryChainId": 200,
  "simpleTokenAddress": "0xca954C91BE676cBC4D5Ab5F624b37402E5f0d957",
  "originBurnerAddress": "0x0000000000000000000000000000000000000000",
  "auxiliaryBurnerAddress": "0x0000000000000000000000000000000000000000",
  "originGasPrice": "13000000000",
  "auxiliaryGasPrice": "1000000000",
  "originMasterKey": "",
  "auxiliaryMasterKey": "",
  "originDeployerAddress": "",
  "auxiliaryDeployerAddress": "",
  "eip20TokenAddress": "",
  "originOrganizationAddress": "",
  "auxiliaryOrganizationAddress": "",
  "originAnchorAddress": "",
  "auxiliaryAnchorAddress": "",
  "originGatewayAddress": "",
  "auxiliaryCoGatewayAddress": "",
  "auxiliaryUtilityTokenAddress": "",
  "auxiliaryOSTPrimeAddress": ""
}
